<%# JP Player %>
<div id="app_jp_<%= @attributes[:id] %>" class="app-jplayer jp-jplayer" data-id="<%= @attributes[:id] %>" data-file="<%= @attributes[:file] %>"></div>

<%# JP Audio %>
<div id="app_jp_audio_<%= @attributes[:id] %>" class="<% if @attributes[:size] %>app-audio-size-<%= @attributes[:size] %> <% end %><% if @attributes[:type] %>app-audio-<%= @attributes[:type] %> <% end %> app-audio jp-audio" data-id="<%= @attributes[:id] %>">
  
  <%# Arrow %>
  <% if @attributes[:arrow] %>
    <div class="app-audio-arrow"></div>
  <% end %>
  
  <%# Buttons %>
  <div class="app-audio-buttons">
    <div href="#" class="jp-play app-audio-button" tabindex="1"><div class="app-audio-button-icon"></div></div>
    <div href="#" class="jp-pause app-audio-button" tabindex="1"><div class="app-audio-button-icon"></div></div>
  </div>
  
  <%# Info %>
  <div class="app-audio-info">
    <div class="app-audio-title app-truncate"><%= @attributes[:title] %></div>
    <div class="app-audio-time app-truncate">
      <span class="jp-current-time"></span> of <span class="jp-duration"></span> 
    </div> 
  </div>  

  <%# Progress %>
  <div class="app-audio-progress jp-progress">
    <div class="app-audio-progress-seek-bar jp-seek-bar"><div class="app-audio-progress-play-bar jp-play-bar"></div></div>
    <div class="app-audio-progress-wavform"></div>
  </div>
  
  <%# No Solution %>
  <div class="app-audio-no-solution jp-no-solution">To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.</div>
</div>