<!DOCTYPE html>
<html>
  <head>
    
    <%# Meta %>
    <%= render "shared/meta" %>
  
    <%# Favicon %>
    <%= render "shared/favicon" %>
    
    <%# Stylesheets %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    
    <%# Javascript %>
    <%= javascript_include_tag "application" %>
  	<%= render "shared/plugin_typekit" %>
  </head>
  <body class="app<% if is_mobile? %> app-mobile<% else %> app-desktop<% end %><% if controller.class.parent.to_s == "Dashboard" %> app-context-dashboard<% end %> app-controller-<%= controller_name %> app-controller-action-<%= action_name %><% if @body_class.present? %> <%= @body_class %><% end %>">
    
    <%# Nav %>
		<%= render "shared/nav" %>
		
    <%# Messages %>
		<%= render "shared/messages" %>
		
		<%# Logo %>
		<%= render "shared/logo" %>
    
		<%# Content %>
		<%= yield %>
    
  </body>
</html>
